<ng-container *ngIf="sectionOPC20">
  <ng-container *ngIf="loading">
    <div class="centered-container Myspinner">
      <mat-spinner> </mat-spinner>
      <p>Cargando datos...</p>
    </div>
  </ng-container>
  <ng-container *ngIf="sectionOPCResponse20 && imgRoute !== null">
    <div class="row">
      <h1 class="text-left">{{ selectedTitle }}</h1>
      <h4>{{ selectedSubtitle }}</h4>
      <div class="search-box">
        <a [href]="imgRoute" target="_blank">
          <img
            [src]="imgRoute"
            class="imgApi"
            style="transform: rotate(90deg)"
            alt="Estos mapas muestran la configuración de la presión en superficie usando isobaras (lineas de igual presión), áreas de alta (A, a) y baja (B, b) presión y los frentes en Europa y el Atlántico Norte.El mapa de análisis presenta el estado de la atmósfera a la hora correspondiente y los fenómenos más relevantes observados en España. Periodicidad de actualización: cada 12 horas (00, 12)."
          />
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="sectionOPC21 && !sectionOPCResponse21">
  <div class="row">
    <h1 class="text-left">{{ selectedTitle }}</h1>
    <h4>{{ selectedSubtitle }}</h4>
    <div class="search-box">
      <div>
        <p class="date_daily-climatologies">Fecha Inicial</p>
      </div>
      <input
        class="form-control rounded-pill selectorDate"
        type="datetime-local"
        [(ngModel)]="selectedDate"
        id="dateInput"
      />
      <div>
        <p class="date_daily-climatologies">Ambito</p>
      </div>
      <select
        id="tipoMensa"
        class="form-control rounded-pill yearInput"
        [(ngModel)]="ambiiiito"
      >
        <option *ngFor="let ambito of ambit" [value]="ambito.code">
          {{ ambito.ambito }}
        </option>
      </select>
      <div>
        <p class="date_daily-climatologies">Dia</p>
      </div>
      <select
        id="tipoMensa"
        class="form-control rounded-pill yearInput"
        [(ngModel)]="diiia"
      >
        <option *ngFor="let dia of diaCodigo" [value]="dia.code">
          {{ dia.day }}
        </option>
      </select>
      <div class="btnDiv">
        <button type="button" class="btn-search" (click)="callToApiOPC21()">
          Continuar
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="sectionOPCResponse21 && imgRoute !== null">
  </ng-container>
</ng-container>
