<div [ngClass]="{'changeStyle': changeStyle}" class="appComponent">
  <section class="header-section">
    <div class="container">
      <div class="row">
        <div class="body-header">
          <a href="http://www.aemet.es" target="new"
            ><img src="./assets/img/logo_AEMET_web.gif"
          /></a>
          <img src="./assets/img/logo_opendata_p.gif" />
          <h1 class="text-left">AEMET <span>Visual-WEB</span> OpenData</h1>
          <h2 class="text-left">
            Sistema para la visualización y reutilización de la información de
            AEMET
          </h2>
        </div>
      </div>
    </div>
  </section>
  <div class="search-box">
    <label for="action">Acción:</label>
    <select id="action" (change)="onOptionChange()" [(ngModel)]="selectedOption">
      <optgroup label="Predicciones Especificas">
        <option *ngFor="let option of opcionesGrupo1" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Observacion Convencional">
        <option *ngFor="let option of opcionesGrupo2" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Valores Climatologicos">
        <option *ngFor="let option of opcionesGrupo3" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Informacion Satelite">
        <option *ngFor="let option of opcionesGrupo4" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Mapas Y Graficos">
        <option *ngFor="let option of opcionesGrupo5" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Maestro">
        <option *ngFor="let option of opcionesGrupo6" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Productos Climatologicos">
        <option *ngFor="let option of opcionesGrupo7" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Prediccion Maritima">
        <option *ngFor="let option of opcionesGrupo8" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Redes Especiales">
        <option *ngFor="let option of opcionesGrupo9" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Red-Rayos">
        <option *ngFor="let option of opcionesGrupo10" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Indices-Incendios">
        <option *ngFor="let option of opcionesGrupo11" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Predicciones-normalizadas-texto">
        <option *ngFor="let option of opcionesGrupo12" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Red Radares">
        <option *ngFor="let option of opcionesGrupo13" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Avisos">
        <option *ngFor="let option of opcionesGrupo14" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
      <optgroup label="Antartida">
        <option *ngFor="let option of opcionesGrupo15" [ngValue]="option">
          {{ option.option }}
        </option>
      </optgroup>
    </select>
    <textarea id="explicationTextArea" rows="5" [value]="selectedOption.explication" disabled></textarea>
    <div class="btnDiv">
      <button type="button" class="btn-search" (click)="onContinueClick()">Continuar</button>
    </div>
  </div>
</div>


<!-- <footer>
  <h1 class="text-left">AEMET <span>Visual-WEB</span> OpenData</h1>
  <p>&copy; Made by Sanchez</p>
</footer> -->

<router-outlet></router-outlet>
