/* Los nuevos para clarity */
body {
  width: 99.3% !important;
  height: 100vh;
  background: #000000;
}

.header-section {
  background-image: url(../assets/img/fondo.jpg);
  background-size: cover;
  height: 20vh;
  width: 100vw;
}

.body-header {
  position: relative;
  padding-top: 2%;
}

.body-header h1 {
  color: #fff;
}

.body-header h3 {
  color: #000000 !important;
}

.body-header h1 span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body-header h2 {
  font-size: 1.5rem;
}

.yellowColor {
  color: #fbcf00 !important;
  font-weight: 500;
}

.blackText {
  color: #000000 !important;
  font-weight: 500;
}

.lblSelectorPag {
  background: #000000 !important;
  color: #fff;
  padding-left: .9rem !important;
  width: 100.6vw;
}

.sectionBody {
  background: #f8f9fa;
  color: #000000;
  width: 95%;
  height: 64vh;
  margin: 10px auto !important;
}

.selectSections {
  padding: 5px;
  margin: 1px auto;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .9rem;
  margin: 10px auto;
}

.h3SelectorPage {
  font-family: monospace;
  margin-left: 25px;
  font-size: 1.2rem;
  margin-top: 11px;
}

.miCard,
.miCard2 {

  width: 80% !important;
  margin: 10px auto;
}

.miCard2 {
  height: 300px !important;
}

.fourItems {
  height: 325px !important;
}

.card-block {
  height: 150px;
}

.btnBack {
  background-color: #5785b3;
  color: #ccc;
  border: 0.6px solid lightgrey;
  width: 25%;
  margin: 15px;
  margin-bottom: 100px !important;
}


textarea {
  border: 0.5px solid lightgrey;
  width: 98.5%;
  height: 225px;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.myCard {
  margin: 1rem auto !important;
}


.lblText {
  padding-left: 25px !important;
  color: #000000 !important;

}

.btn-search {
  padding: 5px 20px;
  background-color: #fbcf00;
  color: #f8f9fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  margin: auto;
}

.btn-search:hover {
  color: black;
}

.selectInfo {
  padding: 2.5px;
  margin-bottom: 12.5px;
  width: 98.5%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .8rem;
}

@media (max-width: 768px) {
  .body-header h2 {
    font-size: .9rem;
  }
}