<ng-container *ngIf="sectionOPC18">
  <ng-container *ngIf="loading">
    <div class="centered-container Myspinner">
      <mat-spinner>
      </mat-spinner>
      <p>Cargando datos...</p>
    </div>
  </ng-container>
  <ng-container *ngIf="sectionOPCResponse18 && imgRoute !== null">
    <div class="row">
      <h1 class="text-left">{{ selectedTitle }}</h1>
      <h4>{{ selectedSubtitle }}</h4>
      <div class="search-box">
        <a [href]="imgRoute" target="_blank">
          <img [src]="imgRoute" class="imgApi" alt="Imagen obtenida con una combinación de los datos de los canales infrarrojos del satélite NOAA-19, que nos da la temperatura de la superficie del mar. Esta imagen se renueva todos los días a última hora y contiene los datos acumulados de los últimos siete días.">
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="sectionOPC19">
  <ng-container *ngIf="loading">
    <div class="centered-container Myspinner">
      <mat-spinner>
      </mat-spinner>
      <p>Cargando datos...</p>
    </div>
  </ng-container>
  <ng-container *ngIf="sectionOPCResponse19 && imgRoute !== null">
    <div class="row">
      <h1 class="text-left">{{ selectedTitle }}</h1>
      <h4>{{ selectedSubtitle }}</h4>
      <div class="search-box">
        <a [href]="imgRoute" target="_blank">
          <img [src]="imgRoute" class="imgApi" alt="Imagen obtenida con una combinación de los datos de los canales infrarrojos del satélite NOAA-19, que nos da la temperatura de la superficie del mar. Esta imagen se renueva todos los días a última hora y contiene los datos acumulados de los últimos siete días.">
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>