<div class="daily-climatologies">
    <section class="header-section">
      <div class="container">
        <div class="row">
          <div class="body-header">
            <a href="http://www.aemet.es" target="new"
              ><img src="./assets/img/logo_AEMET_web.gif"
            /></a>
            <img src="./assets/img/logo_opendata_p.gif" />
            <h1 class="text-left">AEMET <span>Visual-WEB</span> OpenData</h1>
            <h2 class="text-left">
              Sistema para la visualización y reutilización de la información de
              AEMET
            </h2>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
        <button class="btn btnBack mx-auto" (click)="goBack()">
          Volver atrás
        </button>
    </div>
</div>